{{define "yield"}}
  <h1>Get in touch!</h1>
  <p>
    To get in touch, please send an email to
    <a href="mailto:luigi.vanacore@outlook.com">
      luigi.vanacore@outlook.com
    </a>.
  </p>
{{end}}
